$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

$headings-font-family: "Barbedor";
$font-family-monospace: "Courier New",Menlo, Monaco, Consolas, monospace;
$font-family-base: $font-family-monospace;

$nav-link-padding: 2px 8px;
$nav-link-hover-bg: transparent;

$link-color: #666;
$hr-border: #666;

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.container {
    margin-left: 0;
}

.main-menu, ul.works, ul.social {
    padding-left: 40px;
}

.profiles {
    h3 {
        font-family: $font-family-monospace;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
    }
}

ul.social {
    margin-top: 120px
}

// Main Sidebar
.sidebar {
    padding-top: 40px;

    nav.language-selector {
        margin-left: -20px;
        font-size: 12px;
        a.current {
            font-weight: bold;
        }
    }

    h3 {
        margin-top: 120px;
        margin-left: 10px;
        font-size: 24px;
        font-weight: bold;
    }
}

// Default logo replacement
.main-logo {
    margin-left: auto;
    margin-right: auto;

    width: 182px;
    height: 173px;

    background: url("/images/main-logo.png") no-repeat;

    a {
        @include text-hide();
    }
}

// Main content
.content {
    padding-top: 20px;
    h2 {
        font-weight: bold;
        font-size: 24px;
    }

}

// Cover Picture Layout
.cover-picture {
    height: 431px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;

    &.index {
        background-image: url("/images/portfolio-1/1.jpg");
    }

    .caption {
        width: 60%;
        padding: 10px 20px;
        position: absolute;

        bottom: 40px;
        left: 40px;

        h1 {
            a {
                color: #fff;
                text-shadow: 1px 1px 3px #000;
                font-weight: bold;

                &:hover {
                    text-decoration: none;
                    opacity: 0.7;
                }
            }
            small {
                display: block;
            }
        }

        .more {
            &:hover {
                text-decoration: none;
                opacity: 0.7;
                color: #fff;
                text-shadow: 1px 1px 3px #000;
            }
        }
    }
}
