// Fonts & Typography
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts";
$headings-font-family: "BarbedorLT-Regular";
$font-family-monospace: "Courier New",Menlo, Monaco, Consolas, monospace;
$font-family-base: $font-family-monospace;

// Navigation
$nav-link-padding: 2px 8px;
$nav-link-hover-bg: transparent;

// Colors
$link-color: #666;
$hr-border: #666;

// Carousel
$carousel-control-color: #000;
$carousel-control-width: 10%;
$carousel-indicator-active-bg: #999;
$carousel-indicator-border-color: #999;

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower

// Fix container at left
.container {
    margin-left: 0;
}

// Navigation bar
.sidebar {
    text-align: left;
    padding-top: 40px;

    nav.language-selector {
        margin-left: 25px;
        font-size: 12px;
        a.current {
            font-weight: bold;
        }
    }

    // Default logo replacement
    .main-logo {
        a {
            @include text-hide();
            width: 182px;
            height: 173px;
            background: url("/images/main-logo.png") no-repeat;
            display: block;
        }
    }

    ul.social {
        margin-top: 20px;
        li {
            display: inline-block;
            font-size: 24px;

            &:last-child {
                margin-left: -10px;
            }
        }
    }

    .main-menu, ul.works, ul.social {
        padding-left: 38px;
    }

    h3 {
        margin-top: 100px;
        margin-left: 47px;
        margin-bottom: -5px;
        font-size: 22px;
        font-weight: bold;
    }
}

// Main content
.content {
    padding-top: 20px;

    h2 {
        font-weight: bold;
        font-size: 24px;
    }

    // Cover Picture Layout
    &.index2 {
        padding-top: 40px;
    }

    // Pages styling
    &.profiles {
        hr {
            margin-top: 30px;
        }

        h3 {
            font-family: $font-family-monospace;
            font-size: 16px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    &.portfolio-single {
        padding-top: 40px;

        h2 {
            font-size: 24px;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0 auto;
        }

        .portfolio-info {
            hr {
                margin-top: 170px;
            }
        }
    }

    &.contact {
        address {
            margin: 0 auto;
        }

        hr {
            margin-top: 40px;
        }

        .map {
            margin-top: 40px;

            #map {
                height: 410px;
            }
        }
    }

    &.support {
        hr {
            margin-top: 30px;
        }
    }

}

// Carousel
.carousel {
    padding-top: 10px;
}

// Carousel Navigation
.carousel-control {
    padding-top: 10px;

    &.left, &.right {
        background: none;

        .arrow-left {
            background: url('/images/arrow-left.png');
            width: 12px;
            height: 63px;
            position: absolute;
            top: 220px;
            z-index: 5;
            display: inline-block;
            left: 50%;
            margin-left: -10px;
        }

        .arrow-right {
            background: url('/images/arrow-right.png');
            width: 12px;
            height: 63px;
            position: absolute;
            top: 220px;
            z-index: 5;
            display: inline-block;
            right: 50%;
            margin-right: -10px;
        }
    }
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-inner .item {
    height: 480px;
}

.carousel-inner .item img {
    margin: 0 auto;
    max-width: 700px;
    max-height: 480px;
}

.carousel-inner > .item > a > img {
    max-width: 700px;
}

.carousel-inner .item iframe {
    margin: 30px auto 20px;

    width: 700px;
    height: 400px;
}

.carousel-inner .item .text-carousel {
    margin: 30px 90px;
}

.carousel-inner, .carousel-inner .item, .carousel-inner .item img {
    max-height: 480px;
}
